@{
    ViewBag.Title = "Demo";
}
<form name="DemoForm" ng-app="ESPM" ng-controller="ESPMCtrl">
    <div id="esquerda">
        <div id="map"></div>
        <p>Localização atual: {{dados.Localizacoes[0].Latitude}}, {{dados.Localizacoes[0].Longitude}}</p>
    </div>
    <table>
        <tr>
            <td>Contacto:</td>
            <td><input name="contacto" type="tel" ng-model="dados.Contacto"></td>
        </tr>
        <tr>
            <td>Nome:</td>
            <td><input name="nome" type="text" ng-model="dados.Nome"></td>
        </tr>
        <tr>
            <td>Idade:</td>
            <td><input name="idade" type="number" ng-model="dados.Idade"> <span ng-hide="DemoForm.idade.$valid">Valor inválido</span></td>
        </tr>
        <tr>
            <td colspan=2>
                <textarea rows="2" cols="50" placeholder="Outros detalhes da pessoa" ng-model="dados.OutrosDetalhesPessoa"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <textarea rows="4" cols="50" placeholder="Descrição" ng-model="dados.Descricao"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="enviar()">Enviar</button>
            </td>
        </tr>
    </table>
    <div id="fundo">
        <h3>Relatório</h3>
        <pre id="consola">{{consola}}</pre>
    </div>
</form>

@section styles {
    @Styles.Render("~/Content/Demo.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/demo-controller.js")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD201QiIbe8GqSopWLrfsAiVBJkxLpImyc"></script>
}